@using EntityFramework.Models.ViewModels

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Todo</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="add-new-todo">
        <h1>Add new todo</h1>
    </div>
    <div class="add-form">
        <form action="" method="post">
            <input type="text" id="Title" name="title" required />
            <input type="submit" value="Submit" />
        </form>
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>